//RESET

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}



//*************PAGINA PRINCIPAL**********************
.bodyIndex{
          background-color: rgb(255, 215, 134); 
          background-image: url("../img/moderna-fondo-body.webp"); }
     
//*************CONTENEDOR INDEX**********************

.contenedorIndex{
          display: grid;
          grid-template-columns: auto auto auto;
          grid-template-rows: auto auto auto  ;
          grid-template-areas: "header header header"
                                "menu menu menu"
                                "main main main"
                                "footer footer footer"; 

//*************HEADER INDEX*****************************

.headerIndex{
          grid-area: header; 
          display: flex;
          background-color: rgb(185, 94, 48);
          margin-top: 10px;
          color: rgb(237, 193, 139);
          text-align: center;
          font-family: 'Caveat', cursive;
          background-image: url("../img/madera-fondo-header.jpg");
          background-image: repeat;
          justify-content: left;
         

//********LOGUITO***************************************
 img{     
          display: flex ;
          margin: 20px;
          height: 100px;
          width: 100px;
          border-radius: 70px;
                              }
                                }
                              }


//************NAV INDEX*******************************

.menu {
       grid-area: menu;
       display: flex;   
       justify-content: right;
       justify-items: center;
       align-items: center;
       margin-right: 20px;
       
 }
       .lista{ 
                 li:hover > .subMenu{
                                  display: flex;
                                  flex-direction: column;}


                            .menuLista{display: flex;
                                      text-decoration: none; 
                                                                    
                                      .subMenu{
                                               display: none;
                                               position: absolute;}               
       
                                              }
          

//********SUBMENU**************************
      
//********ESTILOS GENERALES DEL LI*********         
 
          

      
          
   
                            
                               




//**************MAIN INDEX******************************

.contenedorFormulario{
                    grid-area: main;
                    display: none;
                    justify-content: right;
                    margin-right: 2rem;
//**************FORMULARIO******************************
                    form{
                         color:rgb(255, 255, 255);
                         text-align: center;
                         font-family: 'Caveat', cursive;
                         width: 250px; 
                         height: 400px;
                         border-radius: 2rem;
                         
                         overflow: hidden; 
                         background-image: url("../img/madera-fondo.jpg");
                         background-repeat: no-repeat;
                         display:flex; 

                         legend{
                              color:rgb(0, 0, 0);
                              font-weight: bold;
                              font-size: 30px; 
                              border-radius: 60px;                              
                                       }                
                                        } 
                                         
                                                       
      




//**************FOOTER INDEX****************************

.footerIndex{
          grid-area: footer;
          display:none;
                       }
                           }//CONTENEDOR
                             }//BODY